<p>Current pending balance on MoneroHash.com: <%= @balance %> XMR</p>
<p>Which is equal to: $<%= @pending_balance %> USD today.</p>
<p>Current hash rate: <%= @hash_rate %></p>
<p>Total paid: <%= @payments %> XMR</p>
