<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="20">
    <link rel="stylesheet" href="/styles.css">
    <title>$$$ | MoneroChecker</title>
  </head>
  <body>
    <h2>Current pending balance on MoneroHash.com: <%= @balance %> XMR</h2>
    <h2>Which is equal to: $<%= @worth %> USD today.</h2>
    <h2>Current hash rate: <%= @hash_rate %></h2>
  </body>
</html>
