<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="1">
    <title></title>
  </head>
  <body>
    <p>Current pending balance on MoneroHash.com: <%= @balance %> XMR</p>
    <p>Which is equal to: $<%= @worth %> USD today.</p>
    <p>Current hash rate: <%= @hash_rate %></p>
  </body>
</html>
